@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

:root {
  --paragraph-color: #656c7a;
  --btn-color: #ffffff;
  --blue-color: #000c90;
  --orange-color: #f25c2a;
  --heading-color: #000000;
  --bg-color: #11164f;
  --footer-bg: #f1f3f6;
  --btn-font: 0.1rem;
  --footer-text: #7d7d7d;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

/*================================== header section==================================== */
.header-mobile {
  color: #272d4e;
}

.navbar-brand img {
  max-height: 60px;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.navbar-light .navbar-nav .nav-link.active-link {
  color: #2f7ad2;
}
li {
  list-style-type: none;
}

.custom-hamburger-btn {
  border: none;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 2.5%;
  cursor: pointer;
}

.line-1,
.line-2,
.line-3 {
  width: 30px;
  height: 4px;
  background-color: rgb(22, 21, 21);
  margin: 2.5px 0;
  transition: 0.4s;
}

/* Toggle class to  change the state of hambuger icon cross*/
.toggle .line-1 {
  transform: translateY(12px) rotate(135deg);
}

.toggle .line-2 {
  opacity: 0;
}

.toggle .line-3 {
  transform: translateY(-6.89px) rotate(-135deg);
}
.btn {
  background-color: var(--blue-color);
  outline-color: transparent;
  color: var(--btn-color);
}
.btn:hover {
  background-color: var(--blue-color);
  outline-color: transparent;
  color: var(--btn-color);
}
/* =================================Main section============================= */
 /* hero-section */
 .hero-section {
   margin-bottom: 40px;
 }
 .hero-section .hero-content h3 {
  font-family: Gotham;
  font-size: 24px;
  font-style: normal;
  font-weight: 350;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 30px;  
  color: var(--heading-color);
 }
 .hero-section .hero-content h1 {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: left;  
  color: var(--heading-color);
 }
.hero-section .hero-content p {
  font-family: Gotham;
  font-size: 20px;
  font-style: normal;
  font-weight: 325;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left; 
  color: var(--heading-color); 
}

.hero-section .hero-content .button-group .btn {
  background-color: var(--blue-color);
  outline-color: transparent;
  border: 1px solid var(--blue-color);
  width: 150px;
  height: 64px;
  color: var(--btn-color);
  border-radius: 4px;
  font-family: Gotham;
  font-style: normal;
  font-weight: 350;
  font-size: 16px;
  line-height: 44px;
  text-align: center;
}
.hero-section .hero-content .button-group .btn-1:hover {
  background-color: var(--blue-color);
  outline-color: transparent;
  color: var(--btn-color);
}
.hero-section .hero-content .button-group .btn-2{
  background-color: var(--btn-color);
  color: var(--blue-color);
  border: 2px solid var(--blue-color);
}
.hero-section .hero-content .button-group .btn-2:hover{
  background-color: var(--blue-color);
  outline-color: transparent;
  color: var(--btn-color);
}
.hero-section img {
  margin-top: 20px;
}
 /* .hero-section-end */

 /* mission-section */
 .mission-section {
   background-color: var(--bg-color);
   color: var(--btn-color);
   padding: 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin: 20px auto;
   width: 100%;
 }
 .mission-section .mission-content h1 {
  font-family: 'Playfair Display', serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 71px;
  letter-spacing: 0em;
  margin-top: 20px;
 }
 .mission-section .mission-content p {
  font-family: Gotham;
  font-size: 24px;
  font-style: normal;
  font-weight: 325;
  line-height: 40px;
  letter-spacing: 0em;
  max-width: 823px;
  margin: 0 auto;
  margin-top: 30px;
 }
 .mission-section .mission-content .btn{
  background-color: var(--orange-color);
  color: var(--btn-color);
  border: 2px solid var(--orange-color);
  font-family: Gotham;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0px;
  text-align: center;
  width: 197px;
  height: 64px;
  margin: 30px auto;
}
 /* mission-section-end */

/* suscribe-section */
.card {
  background: linear-gradient(90.06deg, #11164f 0.05%, #f25c2a 99.94%);
  border-radius: 8px;
  color: var(--btn-color);
}
.form-control {
  outline-color: none !important;
  border-radius: 0px;
  background-color: transparent;
  color: #ebebeb !important;
}
/* suscribe-end */


/* =================================Footer section============================= */
.footer___section {
  background-color: var(--footer-bg);
  padding: 50px;
  color: var(--footer-text) !important;
}
.footer___section,
.nav-link {
  color: var(--footer-text) !important;
}
span .fa {
  font-size: 30px;
  padding: 9px;
}

/* ===================================Media Query================================== */
@media (min-width: 1024px) {
  .hero-section .hero-content h3 {
    margin-top: 100px;  
   }
  .hero-section .hero-content h1 {
    font-size: 85px;
    line-height: 110px;
   }
}