:root {
  --paragraph-color: #656c7a;
  --btn-color: #ffffff;
  --blue-color: #000c90;
  --orange-color: #f25c2a;
  --heading-color: #000000;
  --bg-color: #11164f;
  --footer-bg: #f1f3f6;
  --btn-font: 0.1rem;
  --footer-text: #7d7d7d;
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
}

/*================================== header section==================================== */
.header-mobile {
  color: #272d4e;
}

.navbar-brand img {
  max-height: 60px;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.navbar-light .navbar-nav .nav-link.active-link {
  color: #2f7ad2;
}
li {
  list-style-type: none;
}

.custom-hamburger-btn {
  border: none;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 2.5%;
  cursor: pointer;
}

.line-1,
.line-2,
.line-3 {
  width: 30px;
  height: 4px;
  background-color: rgb(22, 21, 21);
  margin: 2.5px 0;
  transition: 0.4s;
}

/* Toggle class to  change the state of hambuger icon cross*/
.toggle .line-1 {
  transform: translateY(12px) rotate(135deg);
}

.toggle .line-2 {
  opacity: 0;
}

.toggle .line-3 {
  transform: translateY(-6.89px) rotate(-135deg);
}
.btn {
  background-color: var(--blue-color);
  outline-color: transparent;
  color: var(--btn-color);
  border-radius: 4px;
}
.btn:hover {
  color: var(--btn-color);
}
/* =================================Main section============================= */

/* suscribe-section */
#card {
  background: linear-gradient(90.06deg, #11164f 0.05%, #f25c2a 99.94%);
  border-radius: 8px;
  color: var(--btn-color);
  
}
#event-card {
  background: linear-gradient(90.06deg, #11164f 0.05%, #f25c2a 99.94%);
  border-radius: 8px;
  color: var(--btn-color);
  
}
.form-control {
  outline-color: none !important;
  border-radius: 0px;
  background-color: transparent;
  color: #ebebeb !important;
}
/* suscribe-end */

.section___banner{
  background-image: url(../images/banner-img.png);
  background-size: cover;
  height: 100vh;  
 background: linear-gradient(95.48deg, rgba(17, 22, 79, 0.25) 7.96%, #11164F 60.32%);
}
.section___text{
 background: linear-gradient(95.48deg, rgba(17, 22, 79, 0.25) 7.96%, #11164F 60.32%);
}

#donate___section{
  height: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.8)), url(../images/banner-img-one.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 30px;  
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}
#outreach___img___section{
  height: 90vh;
  background-image:  url(../images/banner-img-two.png);
  background-repeat: no-repeat;
  background-size: cover;
}


/* =================================Footer section============================= */
.footer___section {
  background-color: var(--footer-bg);
  padding: 50px;
  color: var(--footer-text) !important;
}
.footer___section,
.nav-link {
  color: var(--footer-text) !important;
}
span .fa {
  font-size: 30px;
  padding: 9px;
}

